allow audioserver kernel:system module_request;
# allow audioserver device:chr_file { ioctl open read write };
allow audioserver sysfs:file { getattr open read };
