allow bootanim kernel:system module_request;
allow bootanim debugfs_tracing:dir search;
allow bootanim debugfs_trace_marker:file { open write };
allow bootanim surfaceflinger:fifo_file rw_file_perms;
