allow cameraserver kernel:system module_request;
allow cameraserver debugfs_tracing:dir search;
allow cameraserver debugfs_trace_marker:file { open write };

#debugfs access
userdebug_or_eng(`
typeattribute cameraserver qti_debugfs_domain;
allow cameraserver debugfs:dir r_dir_perms;
allow cameraserver debugfs:file rw_file_perms;
')
