allow dex2oat kernel:system module_request;
allow dex2oat debugfs_tracing:dir search;
allow dex2oat debugfs_trace_marker:file { open write };

#debugfs access
userdebug_or_eng(`
typeattribute dex2oat qti_debugfs_domain;
allow dex2oat debugfs:dir r_dir_perms;
allow dex2oat debugfs:file rw_file_perms;
')
