allow mediacodec kernel:system module_request;
allow mediacodec debugfs_tracing:dir search;
allow mediacodec debugfs_trace_marker:file { open write };
allow mediacodec mpctl_socket:dir search;
