allow profman kernel:system module_request;
allow profman debugfs_tracing:dir search;
allow profman debugfs_trace_marker:file { open write };

#debugfs access
userdebug_or_eng(`
typeattribute profman qti_debugfs_domain;
allow profman debugfs:dir r_dir_perms;
allow profman debugfs:file rw_file_perms;
')
