type razer-periph-sh, domain, domain_deprecated;

allow razer-periph-sh system_prop:property_service set;
allow razer-periph-sh proc:file { getattr open read };
allow razer-periph-sh rootfs:file { open read };
allow razer-periph-sh shell_exec:file { entrypoint getattr read };
allow razer-periph-sh toolbox_exec:file { execute execute_no_trans getattr open read };
allow razer-periph-sh init:unix_stream_socket connectto;
allow razer-periph-sh proc:file write;
allow razer-periph-sh property_socket:sock_file write;

allow razer-periph-sh persist_sys_rzr:file { getattr open read };
allow razer-periph-sh persist_sys_rzr:property_service set;
allow razer-periph-sh rootfs:file entrypoint;
allow razer-periph-sh persist_file:dir search;
allow razer-periph-sh proc_usb_device:file { getattr open write };
