type razer-info-sh, domain, domain_deprecated;


allow razer-info-sh device:dir search;
allow razer-info-sh init:fd use;
allow razer-info-sh init:process sigchld;
allow razer-info-sh kernel:system module_request;
allow razer-info-sh logd:unix_dgram_socket sendto;
allow razer-info-sh null_device:chr_file { getattr ioctl read write };
allow razer-info-sh owntty_device:chr_file { open read write };
allow razer-info-sh persist_drm_file:dir search;
allow razer-info-sh persist_drm_file:file { getattr open read };
allow razer-info-sh proc:lnk_file read;
allow razer-info-sh properties_device:dir getattr;
allow razer-info-sh properties_serial:file { getattr open read };
allow razer-info-sh property_contexts:file { getattr open read };
allow razer-info-sh property_socket:sock_file write;
allow razer-info-sh razer_prop:property_service set;
allow razer-info-sh rootfs:lnk_file { getattr read };
allow razer-info-sh rzrdrm_prop:property_service set;
allow razer-info-sh self:capability dac_override;
allow razer-info-sh self:dir search;
allow razer-info-sh self:lnk_file read;
allow razer-info-sh self:unix_dgram_socket { connect create write };
allow razer-info-sh shell_exec:file { entrypoint execute execute_no_trans getattr open read };
allow razer-info-sh system_file:dir getattr;
allow razer-info-sh system_file:file read;
allow razer-info-sh urandom_device:chr_file { getattr ioctl open read };
allow razer-info-sh init:unix_stream_socket connectto;
allow razer-info-sh rootfs:file { open read };
allow razer-info-sh rzrdrm_prop:file { getattr open read };
allow razer-info-sh sysfs:file { getattr open read };
allow razer-info-sh tee_exec:file { execute execute_no_trans getattr open read };
allow razer-info-sh toolbox_exec:file { execute execute_no_trans getattr open read };
allow razer-info-sh razerdrm_exec:file { execute execute_no_trans getattr open read };
allow razer-info-sh rootfs:file entrypoint;
allow razer-info-sh persist_file:dir search;
