allow servicemanager kernel:system module_request;
allow servicemanager zygote:dir search;
allow servicemanager zygote:file { open read };
allow servicemanager zygote:process getattr;
