type valiService, domain;
type valiService_exec, exec_type, file_type;
init_daemon_domain(valiService);

allow valiService kernel:system module_request;
allow valiService node:udp_socket node_bind;
allow valiService port:udp_socket name_bind;
allow valiService proc:file { getattr open read };
allow valiService self:capability net_raw;
allow valiService self:udp_socket { bind create read setopt };
