allow zygote ashmem_device:chr_file execute;
allow zygote debugfs:file { getattr };
allow zygote kernel:system module_request;
allow zygote mnt_expand_file:dir getattr;
allow zygote node:tcp_socket node_bind;
allow zygote self:process execmem;
allow zygote self:tcp_socket { bind create getattr listen setopt };
allow zygote servicemanager:binder call;
allow zygote shell_exec:file { execute execute_no_trans getattr open read };
allow zygote system_server:binder { call transfer };
allow zygote user_profile_data_file:file getattr;
allow zygote zygote_tmpfs:file execute;
allow zygote user_profile_data_file:dir search;
allow zygote razer_prop:file { getattr open read };
allow zygote time_daemon:unix_stream_socket connectto;
allow zygote debugfs_tracing:dir search;
allow zygote debugfs_trace_marker:file { open write };
allow zygote app_data_file:dir getattr;
allow zygote gpu_device:chr_file { ioctl open read write };
allow zygote surfaceflinger:binder { call transfer };
allow zygote surfaceflinger:fd use;
allow zygote surfaceflinger:unix_stream_socket { read write };
allow zygote system_data_file:dir { add_name create remove_name setattr write };;
allow zygote system_server:unix_stream_socket { read write };
allow zygote user_profile_data_file:file { lock open read write };
allow zygote priv_app:binder call;
allow zygote adbsecure_prop:file { getattr open read };

#debugfs access
userdebug_or_eng(`
typeattribute zygote qti_debugfs_domain;
allow zygote debugfs:dir r_dir_perms;
allow zygote debugfs:file rw_file_perms;
')
