service razer-info-sh /init.razer.info.sh
   class late_start
   user system
   group system
   disabled
   oneshot
   seclabel u:r:razer-info-sh:s0

service razerdate /system/bin/date -s 20150101
   oneshot
   disabled

service valiService /system/bin/valiService
    user root
    group bluetooth net_bt_admin misc net_bt_stack diag
    disabled
    oneshot   

on fs
    # Set a default date
    start razerdate

on boot
    start razer-info-sh
    start valiService

on property:dev.bootcomplete=1
    start razer-info-sh

on property:persist.sys.rzr.device_mode=0
	write /proc/usb_device 0
	start adbd
	
on property:persist.sys.rzr.device_mode=1
	write /proc/usb_device 1
	stop adbd
	
on property:ro.build.type=user
    rm /dev/diag	
	
	
