service razerdate /system/bin/date -s 20150101
   oneshot
   disabled

on property:persist.sys.rzr.device_mode=0
	write /proc/usb_device 0
	start adbd
	
on property:persist.sys.rzr.device_mode=1
	write /proc/usb_device 1
	stop adbd
	
on property:ro.build.type=user
    rm /dev/diag	
	
	
