import init.pearlyn.diag.rc

service razer-periph-sh /init.razer.peripherals.sh
   class late_start
   user root
   disabled
   oneshot
   seclabel u:r:razer-periph-sh:s0

service razer-info-sh /init.razer.info.sh
   class late_start
   user root
   disabled
   oneshot
   seclabel u:r:razer-info-sh:s0

service razerdate /system/bin/date -s 20150101
   oneshot
   disabled

service valiService /system/bin/valiService
    user root
    group bluetooth net_bt_admin misc net_bt_stack diag
    disabled
    oneshot   

on fs
    # Set a default date
    start razerdate

# on property:dev.bootcomplete=1
on boot
    start razer-periph-sh
    start razer-info-sh
    start valiService

on property:dev.bootcomplete=1
    start razer-info-sh
