allow platform_app radio_data_file:dir search;
allow platform_app radio_data_file:file r_file_perms;
allow platform_app persist_sys_rzr:property_service set;
allow platform_app proc_usb_device:file { getattr open write };
