allow dex2oat runtime_event_log_tags_file:file r_file_perms;
allow profman runtime_event_log_tags_file:file r_file_perms;
allow hwservicemanager runtime_event_log_tags_file:file r_file_perms;
allow mediaprovider runtime_event_log_tags_file:file r_file_perms;
