allow tee vfsspi_data_file:dir create_dir_perms;
allow tee vfsspi_data_file:file create_file_perms;
allow tee efs_file:dir rw_dir_perms;
allow tee efs_file:file rw_file_perms;
